<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido a NotFound!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/Imagen_Login.png" />
    <ion-card-header>
      <label for="nombre">Usuario: </label>
      <input type="text" name="nombre">
      <label for="contrasena">Contraseña:</label>
      <input type="password" name="contrasena">
    </ion-card-header>

    <ion-card-content>
      <ion-button routerLink="/participantes">Iniciar sesion</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
